          /* common style in css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
    
}

                /* this is header section  */
.header{
    margin-top: 40px;
    border-radius: 16px;
}
.navbar{
    background-image: url('../img/Banner Image.png');
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    width: 100%;

}
.nav-title{
    padding-top: 200px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 600px;
}
.nav-title > h4{
    color: #FFF;
    text-align: center;
    justify-content: center;
    font-weight: 400px;
    font-size: 32px;
    
}
.nav-title > h1{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 72px;
    padding-top: 25px;
}


         /* Discount section start from here   */
.discount{
    margin-top: 120px;
    text-align: center;
    justify-content: center;
}
.discount-titl{

}
.discount-title > h1{
    font-size: 88px;
    font-weight: 700;
}
.discount-description{
    margin-top: 50px;
}
.discount-description p{
    font-size: 24px;
    font-weight: 500;
}
.discount-description h4{
    font-size: 48px;
    font-weight: 700;
}
.discount-image{
    margin-top: 48px;
}



        /* Poster section start from here   */
.poster{
    background-image: url(../img/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    border-radius: 16px;
    margin-top: 120px;
}
.poster-description{
    /* fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 73px;

}
.poster-titles h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-left: 58px;
}
.poster-titles p{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 58px;
    margin-top: 25px;
}
.poster-join h4{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 90px;
    padding-left: 112px;
    margin-top: 42px;
}

        /* schedule section start from here   */
.schedule-section{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    margin-top: 120px;
    border-radius: 16px;
}
.schedule-content{
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}
.schedule-content h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    
}
.schedule-content a > button{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}



            /* Coming Soon Section is Start from here */
.coming-soon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.coming-title{

}
.coming-title h3{
    font-size: 24px;
    font-weight: 500;
}
.coming-title h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 89px;
}
.coming-title p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.coming-image img{
    /* height: 300px;
    width: 300px;
    border-radius: 50%; */
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 21px;
    background-color: white;
}
.coming-year{

}
.coming-year h1{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}
.coming-year p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    padding: 23px 0px;
}




            /* Holidays Sale 50% Section is Start from here */

.holidays{
    margin-top: 120px;
}
.holidays-all-info{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.holidays-titles{
    margin-bottom: 70px;
}
.holidays-titles h4{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
}
.holidays-titles h1{
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    margin: 30px auto;
}
.holidays-titles p{
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
/*....Image.... Holidays Sale 50% Section */
.baby-girl{
    background-image: url(../img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    height: 433px;
    background-position: right;
}
.holidays-image{
    background-image: url(../img/Rectangle\ 2.png);
    height: 229px;
    /* margin-top: 500px; */
}
.five{
    position: absolute;
}




              /* this is OUR Portfolio section */
.protfolio{
    margin-top: 120px;
}
.portfolio-title h5{
    font-size: 24px;
    color: red;
    font-weight: 500;
}
.portfolio-title h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 80px;
}
.portfolio-title p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 45px;
}
 /* This is portfolio-image */
.portfolio-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px

}
.portfolio-image img{
    width: 350px;
}




            /* this is Subscribe Newsletter section */
.subscribe{
    margin-top: 120px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-top: 64px;
    text-align: center;
}
.subscribe-title > h1{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 90px;
}
.subscribe-title > p{
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.insert-file{
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.insert-file input{
    padding: 15px 60px;
    border-radius: 50px 0px 0px 50px;
    border: 0px;
    font-size: 20px;
}
.insert-file > button{
    padding: 15px;
    border-radius: 0px 50px 50px 0px;
    border: 0px;
    background: red;
    font-size: 20px;
}




               /* this is footer section  */
.footer{
    background-color: black;
    height: 600px;
    margin-top: 120px;
}
.f-section > .icons{
    text-align: center;
    margin-top: 120px;
}
.contacts{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.contacts p{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.lastONE{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.lastONE > p{
    font-size: 24px;
    font-weight: 500;
    color: white;
}